function GameScene.new 0
push constant 11
call Memory.alloc 1
pop pointer 0
push constant 8
pop static 0
push constant 10
pop static 1
push constant 63
pop static 2
push constant 31
pop static 3
push constant 2048
pop static 4
push argument 0
pop this 0
push static 1
push constant 1
sub
call Array.new 1
pop this 1
push constant 0
pop this 10
push pointer 0
return
function GameScene.OnEnter 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push static 1
push constant 1
sub
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop this 3
push constant 0
pop this 4
push constant 2
pop this 5
push constant 0
pop this 2
push constant 0
pop this 10
push pointer 0
call GameScene.GenFood 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 0
return
function GameScene.OnExit 0
push argument 0
pop pointer 0
push constant 0
return
function GameScene.OnUpdate 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 140
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call SnakeGame.GameOver 1
pop temp 0
push constant 0
return
label IF_FALSE0
push local 0
push constant 130
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
push constant 2
eq
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop this 5
label IF_FALSE2
label IF_FALSE1
push local 0
push constant 131
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 5
push constant 3
eq
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 1
pop this 5
label IF_FALSE4
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 5
push constant 0
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 2
pop this 5
label IF_FALSE6
label IF_FALSE5
push local 0
push constant 133
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 5
push constant 1
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 3
pop this 5
label IF_FALSE8
label IF_FALSE7
push pointer 0
call GameScene.Move 1
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push constant 0
not
call GameScene.DrawSnake 2
pop temp 0
push pointer 0
call GameScene.DrawFood 1
pop temp 0
goto IF_END9
label IF_FALSE9
push this 0
call SnakeGame.GameOver 1
pop temp 0
label IF_END9
push constant 0
return
function GameScene.Move 1
push argument 0
pop pointer 0
push this 5
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 3
call GameScene.XDec 2
pop this 3
label IF_FALSE0
push this 5
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 4
call GameScene.YDec 2
pop this 4
label IF_FALSE1
push this 5
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 3
call GameScene.XInc 2
pop this 3
label IF_FALSE2
push this 5
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push this 4
call GameScene.YInc 2
pop this 4
label IF_FALSE3
push this 2
push constant 0
gt
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 1
sub
pop local 0
label WHILE_EXP0
push local 0
push constant 0
gt
not
if-goto WHILE_END0
push local 0
push this 1
add
push local 0
push constant 1
sub
push this 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
push this 1
add
push this 5
push constant 2
sub
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 1
add
pop pointer 1
push that 0
push constant 0
lt
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
push this 1
add
push constant 0
push this 1
add
pop pointer 1
push that 0
push constant 4
add
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE5
label IF_FALSE4
push pointer 0
call GameScene.CrashTest 1
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push constant 0
return
label IF_FALSE6
push this 3
push this 8
eq
push this 4
push this 9
eq
and
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 10
push constant 1
add
pop this 10
push this 2
push static 1
lt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 2
push constant 1
add
pop this 2
push this 2
push constant 1
sub
push this 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE8
push pointer 0
call GameScene.GenFood 1
pop temp 0
label IF_FALSE7
push constant 0
not
return
function GameScene.IterateSnakeNode 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push this 6
call GameScene.XDec 2
pop this 6
label IF_FALSE0
push argument 1
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push this 7
call GameScene.YDec 2
pop this 7
label IF_FALSE1
push argument 1
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push this 6
call GameScene.XInc 2
pop this 6
label IF_FALSE2
push argument 1
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push this 7
call GameScene.YInc 2
pop this 7
label IF_FALSE3
push constant 0
return
function GameScene.CrashTest 3
push argument 0
pop pointer 0
push this 6
pop local 1
push this 7
pop local 2
push this 3
pop this 6
push this 4
pop this 7
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push this 1
add
pop pointer 1
push that 0
call GameScene.IterateSnakeNode 2
pop temp 0
push this 6
push this 3
eq
push this 7
push this 4
eq
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop this 6
push local 2
pop this 7
push constant 0
not
return
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 1
pop this 6
push local 2
pop this 7
push constant 0
return
function GameScene.GenFood 2
push argument 0
pop pointer 0
push this 6
push this 7
add
pop local 1
push local 1
push local 1
call Math.multiply 2
push local 1
call Math.multiply 2
pop local 0
push local 1
push local 0
push constant 6
call Math.divide 2
sub
push local 0
push local 1
call Math.multiply 2
push local 1
call Math.multiply 2
push constant 120
call Math.divide 2
add
pop local 1
push local 1
push constant 5
call Math.multiply 2
push constant 2
add
pop local 1
push this 6
pop this 8
push this 7
pop this 9
push constant 0
pop local 0
push local 1
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
neg
pop local 1
label IF_FALSE0
push local 1
push constant 20
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 20
pop local 1
label IF_FALSE1
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push pointer 0
push this 8
call GameScene.XDec 2
pop this 8
push pointer 0
push this 9
call GameScene.YInc 2
pop this 9
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameScene.GetScore 0
push argument 0
pop pointer 0
push this 10
return
function GameScene.Dispose 0
push argument 0
pop pointer 0
push this 1
call Memory.deAlloc 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function GameScene.DrawSnake 1
push argument 0
pop pointer 0
push this 6
push this 7
push constant 0
call GameScene.DrawPointRect 3
pop temp 0
push constant 0
pop local 0
push this 3
pop this 6
push this 4
pop this 7
push this 6
push this 7
push argument 1
call GameScene.DrawPointRectHead 3
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 2
lt
not
if-goto WHILE_END0
push pointer 0
push local 0
push this 1
add
pop pointer 1
push that 0
call GameScene.IterateSnakeNode 2
pop temp 0
push this 6
push this 7
push argument 1
call GameScene.DrawPointRect 3
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function GameScene.DrawFood 3
push argument 0
pop pointer 0
push static 0
push constant 2
call Math.divide 2
pop local 2
push this 8
push static 0
call Math.multiply 2
push local 2
add
push constant 1
sub
pop local 0
push this 9
push static 0
call Math.multiply 2
push local 2
add
push constant 1
sub
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 2
push constant 1
sub
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function GameScene.XInc 0
push argument 0
pop pointer 0
push argument 1
push static 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop argument 1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
add
pop argument 1
label IF_END0
push argument 1
return
function GameScene.XDec 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 2
pop argument 1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
sub
pop argument 1
label IF_END0
push argument 1
return
function GameScene.YInc 0
push argument 0
pop pointer 0
push argument 1
push static 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop argument 1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
add
pop argument 1
label IF_END0
push argument 1
return
function GameScene.YDec 0
push argument 0
pop pointer 0
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push static 3
pop argument 1
goto IF_END0
label IF_FALSE0
push argument 1
push constant 1
sub
pop argument 1
label IF_END0
push argument 1
return
function GameScene.DrawPointRectHead 2
push argument 0
push static 0
call Math.multiply 2
pop local 0
push argument 1
push static 0
call Math.multiply 2
pop local 1
push argument 2
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push static 0
add
push constant 1
sub
push local 1
push static 0
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push argument 2
not
call Screen.setColor 1
pop temp 0
push local 0
push constant 2
add
push local 1
push constant 2
add
push local 0
push static 0
add
push constant 1
sub
push constant 2
sub
push local 1
push static 0
add
push constant 1
sub
push constant 2
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function GameScene.DrawPointRect 2
push argument 0
push static 0
call Math.multiply 2
pop local 0
push argument 1
push static 0
call Math.multiply 2
pop local 1
push argument 2
call Screen.setColor 1
pop temp 0
push local 0
push local 1
push local 0
push static 0
add
push constant 1
sub
push local 1
push static 0
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
